.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  margin-top: 1.5rem;
}

.card-item {
  width: 100%;
  margin: 0;
}

.card-img {
  margin-top: -2rem;
  border-radius: 1rem;
}
