.projects-container-new {
  min-height: 0vh;
  background: white;
  padding: 2rem;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

.projects-content {
  margin-top: -4rem;
}

.projects-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #004d40;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Flex container for two projects */
.projects-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.project-card {
  flex: 1 1 calc(50% - 2rem);
  max-width: 480px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Image container */
.project-image-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #004d40;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.project-description {
  font-size: 17px;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Responsive - Stack projects on smaller screens */
@media (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    flex: 1 1 100%;
  }
}
